# Node modules
node_modules/

# Build output
dist/
frontend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# VSCode settings
.vscode/

# Optional: Ignore output CSS
frontend/src/css/output.css